<div class="dashboard-wrapper">
  <div class="row">
    <div class="col-lg-3">
      <app-myaccount-left-sidebar></app-myaccount-left-sidebar>
    </div>
    <div class="col-lg-9">
      <div class="acc-gray-bg">
        <div class="pro-about">
          <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="updatePasswordSubmit()"
          >
            <h3>Change Password</h3>
            <hr />
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <div class="password-btn">
                  <input [type]="isShowPasswordEye ? 'text' : 'password'" class="form-control" formControlName="password"   />
                  <i
                      (click)="togglePassword()"
                      class="fa"
                      style="cursor: pointer"
                      [ngClass]="{
                        'fa-eye': isShowPasswordEye,
                        'fa-eye-slash': !isShowPasswordEye
                      }"
                    ></i>
                  </div>
                  <div
                    *ngIf="isSubmitted && f.password.errors"
                    class="invalid-feedback"
                    style="display: block"
                  >
                    <div *ngIf="f.password.errors.required">
                      Please enter password.
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Must be 8 charcters in length.
                    </div>
                  </div>
                </div>  
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Confirm Password</label>
                  <div class="password-btn">
                  <input [type]="isShowConfrimPasswordEye ? 'text' : 'password'" class="form-control" formControlName="confirm_password"   />
                  <i
                      (click)="toggleConfirmPassword()"
                      class="fa"
                      style="cursor: pointer"
                      [ngClass]="{
                        'fa-eye': isShowConfrimPasswordEye,
                        'fa-eye-slash': !isShowConfrimPasswordEye
                      }"
                    ></i>
                  </div>
                  <div
                    *ngIf="isSubmitted && f.confirm_password.errors"
                    class="invalid-feedback"
                    style="display: block"
                  >
                    <div *ngIf="f.confirm_password.errors.required">
                      Please enter confirm password.
                    </div>
                    <div *ngIf="f.confirm_password.errors.mustMatch">
                      Password & confirm password must be same
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3 mt-4">
                  <button class="btn" type="submit">Change Password</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
