<div class="inner-title">
  <h1>{{cmsContent?.cms_name}}</h1>
</div>
<div class="location-wrapper c-padd">
  <div class="row">
    <div class="col-md-12" [innerHTML]="cmsContent?.cms_desc"></div>
  </div>
</div>

<!-- 
<div class="inner-title">
    <h1>Menu</h1>
</div>

<div class="menu-wrapper c-padd">
  <div class="row">
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div>
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>               
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div>    
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>           
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div> 
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Buy Now</a>
                  </div>              
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div>  
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>             
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div>  
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>             
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div> 
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>              
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div> 
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>              
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="pizza-list">
            <img src="assets/images/pizza-1.jpg" alt="" />
            <div class="pizza-des">
              <p>
                Super Value Deal : 2 Medium Pizzas starting at Rs 599
                <span>Choose any 2 of your favorite medium pizza</span>
              </p>
              <div class="pizza-price d-flex align-items-center">
                <div class="price">$ 299.00 <span>$ 399.00</span></div>    
                <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>           
              </div>
            </div>
          </div>
      </div>
  </div>
</div> -->
