<div class="customize-area">
  <div class="row">
    <div class="col-lg-9">
      <div class="pizza-wrapper">
        <div class="row">
          <div class="col-lg-6">
            <div class="pizza-list">
              <img src="assets/images/pizza-1.jpg" alt="" />
              <div class="pizza-des">
                <p>
                  Super Value Deal : 2 Medium Pizzas starting at Rs 599
                  <span>Choose any 2 of your favorite medium pizza</span>
                </p>
                <div class="pizza-price d-flex align-items-center">
                  <div class="price">$ 299.00 <span>$ 399.00</span></div>
                  <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pizza-list">
              <img src="assets/images/pizza-2.jpg" alt="" />
              <div class="pizza-des">
                <p>
                  Super Value Deal : 2 Medium Pizzas starting at Rs 599
                  <span>Choose any 2 of your favorite medium pizza</span>
                </p>
                <div class="pizza-price d-flex align-items-center">
                  <div class="price">$ 299.00 <span>$ 399.00</span></div>
                  <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pizza-list">
              <img src="assets/images/pizza-3.jpg" alt="" />
              <div class="pizza-des">
                <p>
                  Super Value Deal : 2 Medium Pizzas starting at Rs 599
                  <span>Choose any 2 of your favorite medium pizza</span>
                </p>
                <div class="pizza-price d-flex align-items-center">
                  <div class="price">$ 299.00 <span>$ 399.00</span></div>
                  <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pizza-list">
              <img src="assets/images/pizza-4.jpg" alt="" />
              <div class="pizza-des">
                <p>
                  Super Value Deal : 2 Medium Pizzas starting at Rs 599
                  <span>Choose any 2 of your favorite medium pizza</span>
                </p>
                <div class="pizza-price d-flex align-items-center">
                  <div class="price">$ 299.00 <span>$ 399.00</span></div>
                  <div class="pizza-btn ms-auto">
                    <a routerLink="/customizepizza" class="btn">Customise</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="cart-sidebar">
        <h3>Your Basket</h3>
        <ul class="cart-list">
          <li class="d-flex align-items-center">
            <h4>Medium Veggie Supreme</h4>
            <p>$199.00</p>
            <a class="ms-auto" href="#"><i class="bi bi-x"></i></a>
          </li>
          <li class="d-flex align-items-center">
            <h4>Medium Double Paneer Supreme</h4>
            <p>$199.00</p>
            <a class="ms-auto" href="#"><i class="bi bi-x"></i></a>
          </li>
          <li class="d-flex align-items-center">
            <h4>Medium Double Paneer Supreme</h4>
            <p>$199.00</p>
            <a class="ms-auto" href="#"><i class="bi bi-x"></i></a>
          </li>
        </ul>

        <div class="cart-total position-absolute bottom-0 start-0 end-0">
          <div class="total-count">
            <h5 class="d-flex">
              Subtotal <span class="ms-auto">₹597.00</span>
            </h5>
            <h6 class="d-flex">
              Restaurant Handling Charges <span class="ms-auto">₹35.00</span>
            </h6>
            <h5 class="d-flex">
              Total Tax <span class="ms-auto">₹60.66</span>
            </h5>
            <h5 class="d-flex">
              Amount payable <span class="ms-auto">₹1273.66</span>
            </h5>
          </div>

          <div class="total-checkout d-flex align-items-center">
            <div class="item-cart">2 Items</div>
            <a href="#" class="btn">Checkout</a>
            <div class="total-price ms-auto">$650.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
